body {
  background-color: #bdc3c7;
}

.mainsearch {
  background-color: rgba(0,0,0,0.5);
  margin-top: -120px;

  z-index: 100;
  position: relative;
  border: 15px solid white;

}

.mainsearch h4 {
  color: white;
  padding: 15px 15px 0px 15px;
  font-size: 32px;
}

.form-inline {
  margin-left: 15px;
  padding-bottom: 15px;
}

.btn {
    border-radius: 0px;
  border-width: 0px solid white;
  background-color: #72b84c;
  padding: 10px;
  margin-top: -15px;
}

.btn-light {
  background-color: white;
  color: #72b84c;
}

.search_input {
  width: 650px !important;
  margin-bottom: 15px;
}

.topprojekte {
  margin-top: 45px;
}
.topprojekt_box {
  border: 15px solid white;
  background-color: white;
  color: black;
  border-radius: 0px;
  margin-bottom: 50px;
}

.btn-topprojekt {
  margin-top: 25px;
  width: 100%;
}

.section_h2 {
  text-align: center;
  margin-top: 100px;
}

.section_h2_black {
  text-align: center;
  margin-top: 100px;
  color: black;
}

/*SECTIONS*/

.philosophy {
  margin-top: 100px;
}

.leistungen {
/*  margin-top: 100px;*/
}

.extra_service {
  background-color: white;
}

.team {
  background-color: #72b84c;
}

/*SECTIONS END*/



.phil_hl {
  background-image: url(https://s3-us-west-2.amazonaws.com/projektas/backgrounds/bg5.jpeg);
  background-size: cover;
  height: 600px;
}

.unternehmen_hl {
  background-image: url(https://s3-us-west-2.amazonaws.com/projektas/backgrounds/bg1.jpg);
  background-size: cover;
  height: 600px;
}

.leistung_hl {
  background-image: url(https://s3-us-west-2.amazonaws.com/projektas/backgrounds/bg_new3.jpg);
  background-size: cover;
  height: 1300px;
}

.team_hl {
  background-image: url(https://s3-us-west-2.amazonaws.com/projektas/founders.jpg);
  background-size: cover;
  height: 400px;
}

.kontakt_hl {
  background-image: url(https://s3-us-west-2.amazonaws.com/projektas/backgrounds/bg6.jpeg);
  background-size: cover;
  height: 600px;
}

.gf_pic {
  background-image: url(https://s3-us-west-2.amazonaws.com/projektas/founders.jpg);
  background-size: cover;
  height: 400px;
}

.intro_content {
  background-color: white;
}

.phil_content {
  padding: 80px;
  text-align: left;
}

.leistung_box {
  background-color: rgba(255,255,255,0.7);
  margin: 100px 50px;
  padding: 50px;
  height: 170px;
/*  border: 15px solid black;*/
/*  font-weight: 700;*/
}

.leistung_box h3 {
  text-align: center;
}

.extra_icon_row {
  margin-top: 100px;
}

.extra_box {
  padding: 50px;
}

.team_row {
  background-color: black;
  padding: 100px;
}

.team_box {
  background-color: white;
  padding: 15px;
  border: 15px solid black;
  color: grey;
}



/*EXTRA MEDIA QUERIES*/

@media (max-width: 600px) {
  .leistung_hl {
  background-image: none;
  background-color: black;
  background-size: cover;
  height: 100%;
  }

  .leistung_box {
    height: 100%;
  }

  }



/*END EXTRA MEDIA QUERIES*/


.navbar {
  margin-bottom: 0px;
}

.contact_phone {
  position: fixed:
  right: 1;
  top: 60;
  background-color: #72b84c;
  text-align: center;
  color: white;
}

.contact_phone p {
  font-weight: 700;
  padding: 5px 0px;
}


/*PROJECTS*/

.project_header_bg {
   background:
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(https://s3-us-west-2.amazonaws.com/projektas/backgrounds/projekt_jaeger3.jpg);
      height: 300px;
  padding: 0px;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  background-repeat: no-repeat;
  width: auto;
}



.project_header_bg h2 {
  color: white;
  text-transform: uppercase;
  margin: 0px;
  text-align: center;
}

.project_header_bg h4 {
  font-family: 'Lato';
  color: white;
  text-align: center;
  font-weight: 700;
}

.project_header_bg p {
    padding-top: 100px;
  font-family: 'Lato';
  color: white;
  text-align: center;
}
