.mainsearch_results {
  background-color: #BDC3C7;
  margin-top: 125px;

  z-index: 100;
  position: relative;
  border: 0px solid white;
  padding: 15px;

}

.mainsearch_container {
  background-color: rgba(0,0,0,0.7);
  padding: 15px;
}

.mainsearch_results h4 {
  color: white;
  padding: 15px 15px 0px 15px;
  font-size: 32px;
}

.search_pannel_detail {
  border: 15px solid white;
  background-color: white;
  color: black;
  border-radius: 0px;
}

.search_pannel_box {
  padding: 0px;
}

.panel {
  border: 0px solid black;
  border-radius: 0px;
  box-shadow: none;
}

.panel-heading {
  background-color: #72B84C;
  color: white;
  border-radius: 0px;
  padding: 15px;
}

.pull-right {
  margin-top: -15px;
}

.search_filter_input {
font-size: 17px;
}

.checkbox_search_results {
  margin: 10px 0px;
}

#ex1Slider .slider-selection {
  background: black;
}

.result_items_container {
  border-left: 15px solid #BDC3C7;
  background-color: white;
  color: black;
  border-radius: 0px;
  padding: 15px;

}
.listing_row_details {
  padding: 2px;
}

.listing_row {
  padding-top: 15px;
}

.listing_row h3 {
  margin-top: 0px;
  font-size: 18px;

}

.listing_row h4 {
  color: black;
text-transform: uppercase;
  font-weight: 700;
  font-size: 24px;
  margin-top: 0px;
}

.listing_row p {
  margin-bottom: 0px;
}

.listing_row h2 {
  color: black;
  text-transform: uppercase;
  text-align: center;
  padding: 25px 0px;
  margin-bottom: 25px;
}

.detail_info_left {
  margin-top: 15px;
}

.listing_row_text {
  height: 155px;

}

.listing_row_text p {
  font-size: 14px;
}

.listing_hl {
  text-align: center;
  background-color: white;
  margin: 8px 0px;
  padding: 7px 0px;


}

.listing_hl h3 {
  color: black;
  margin-top: 10px;
}

.listing_hl p {
  color: black;
}

.abbinder {
  height: 20px;
  border-bottom: 15px solid #BDC3C7;
}

.object_headline h3 {
  font-size: 30px;
  text-transform: uppercase;

}

.object_grunddaten h4 {
  font-family: 'Raleway';
  font-size: 18px;
}

.object_buttons {

}

dt {
  font-weight: 400;
}

dt small {
  font-size: 14px;
  font-weight: 700;
}

.more_pictures {
  height: 400px;

  margin-top: 50px;

  text-align: center;
}

.object_longtext {
  margin-top: 15px;
}

.contact_object_box {
  background-color: #72b84c;
  margin-top: 30px;
    color: white;
}

.contact_object_box h3 {

  font-size: 20px;
  margin: 15px 0px;
}

